@import "tailwindcss";
@plugin "daisyui";

a.active {
  background-color: cornsilk;
}

/* .animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
} */

/* .animate-marquee:hover {
  animation-play-state: paused; 
  cursor: pointer; 
} */
